doctype html
html(lang="ru")
	head
		//- base(href="/")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(name="color-scheme" content="only light")
		meta(name="theme-color" content="#ffffff")
		link(rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96")
		link(rel="shortcut icon" href="favicon.ico")
		link(type="text/css" rel="stylesheet" href="css/main.css?" + hash_css)
		title
			|Radio test
	body
		.content
			header
				h1
					|Radio test Radio test Radio test Radio test Radio test Radio test
				span.title-icons
					span.title-icons-settings
						include svg/settings.svg
					span.title-icons-fullscreen
						include svg/fullscreen.svg
					span.title-icons-minimized
						include svg/minimized.svg
					span.title-icons-restored
						include svg/settings.svg
					span.title-icons-close
						include svg/close.svg
			main
				#app.app
			footer
				p
					|Developed by:
					=" "
					a(href="https://projectsoft.ru/" target="_blank")
						|ProjectSoft
					=" "
					|&copy; 2008 - all
		script(src="js/radiostation.js?" + hash_station)
		script(src="js/main.js?" + hash_main)